mixin item-card(item)
    .item-card
        a.item-card__link(href="#")
            img.item-card__img(src=item.src, alt=item.title)
            span.item-card__title= item.title
        span.item-card__price!= item.price
            | &nbsp;руб.
        .item-card__buttons
            +icon-btn('favourites')
            +icon-btn('cart')

