include ../logo/logo
include ../icon-btn/icon-btn
include ../search/search
include ../menu/menu
include ../../common/templates/mixins

-
    const items = [{
        title: 'Мебель',
        url:'#',
        subcategories: [
            { title: 'Мягкая мебель', url:"#"},
            { title: 'Столы', url:"#"},
            { title: 'Стулья', url:"#"},
            { title: 'Стеллажи', url:"#"},
            { title: 'Шкафы-купе', url:"#"},
            { title: 'Мягкая мебель', url:"#"}
        ]
    },
    {
        title: 'Хранение',
        url:'#',
        subcategories: [
            { title: 'Шкафы', url:"#"},
            { title: 'Полки', url:"#"},
            { title: 'Комоды', url:"#"}
        ]
    },
    {
        title: 'Спальня',
        url:'#',
        subcategories: [
            { title: 'Кровати', url:"#"},
            { title: 'Диваны', url:"#"}
        ]
    },
    {
        title: 'Кухня',
        url:'#',
    },
    {
        title: 'Аксессуары',
        url:'#',
    },
    {
        title: 'Акции',
        url:'#',
    }]

mixin header()
    header.header
        .header__top
            .container
                .row.align-items-md-center
                    .col-lg-4.col-md-6
                        +logo('assets/images/logo.svg')
                    .col-md-12.offset-lg-2
                        +search()
                    .col-lg-3.offset-lg-2.col-md-6
                        header.header__btns
                            +icon-btn('favourites', 10)
                            +icon-btn('cart', 2)
        .header__bottom
            .container
                +menu(items)