.header {
    &__top,
    &__bottom {
        border-bottom: 1px solid color('grey-light');
    }
    &__top {
        padding: 50px 0;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btns {
        @include media-breakpoint-down(md){
            margin-left: 17px;
        }
        display: flex;
        justify-content: space-between;
    }
}