.icon-btn{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 40px;
    &:last-child{
        margin-right: 0;
    }

    &__icon{
        margin-right: 8px;
        &:last-child{
            margin-right: 0;
        }
        fill: color('blue');

        &:hover{
            fill: color('dark-blue');
        }
    }
    
    &__count{
        width:24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        background-color: color('grey-lighter');
        border-radius: 50%;
        font-weight: bold;
    }
}