.footer{
    background-color: color('grey-lighter');
    color: color('grey-darkest');
    padding: 40px 0;

    &__contacts{
        text-align: right;
    }

    &__msg{
        font-size: 12px;
    }

    &__phone{
        margin-top: 10px;
        font-size: 20px;
    }
    &__copyright{
        font-size: 12px;
        color: color('grey');
    }
}