.icon {
    display: inline-block;
  }
  
.icon-arrow-small {
    width: 14px;
    height: 8px;
}
.icon-cart {
    width: 25px;
    height: 23px;
}
.icon-check {
    width: 10px;
    height: 8px;
}
.icon-close {
    width: 20px;
    height: 20px;
}
.icon-favourites {
    width: 22px;
    height: 21px;
}
.icon-search {
    width: 21px;
    height: 21px;
}
